
div.game-tiles-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

div.content-wrapper {
  margin: auto;
}

@media only screen and (min-width: 1px) {
  div.content-wrapper {
    max-width: 448px;
  }
}

@media only screen and (min-width: 768px) {

  div#mobile-nav-header {
    display: none;
  }

  nav#header-nav > ul > li:first-child {
    display: none;
  }

  div.content-wrapper {
    max-width: 645px;
  }

  nav#header-nav {
    height: 100%;
  }

  nav#header-nav > ul,
  nav#header-nav > ul > li {
    height: 100%;
  }

  nav#header-nav > ul > li {
    display: inline-flex;
    align-items: center;
  }

  header {
    height: 60px;
  }

  div#header-logo-container {
    height: 100%;
  }

  div#header-logo-container * {
    height: 100%;
  }

  header > nav#header-nav > ul > li > a {
    font-size: 1.2em;
    display: inline-block;
    width: 100px;
    color: #454545;
    text-decoration: none;
    text-transform: uppercase;
    font-family: fantasy;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }

  header > nav#header-nav > ul > li > a:hover {
      color: #000000;
  }

  header > nav#header-nav > ul > li {
    text-align: center;
    font-size: 1rem;
  }

  header > nav#header-nav {
    display: inline-block;
  }

  header > div#header-logo-container {
    max-width: 145px;
  }

  header > nav#header-nav > ul > li.header-menu-parent-li.active > ul {
    display: flex;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 175px;
    background: rgba(35,43,60,0.8);
    list-style-type: none;
    z-index: 99 !important;
    padding: 0;
    text-align: left;
    padding-left: 5em;
  }

  header > nav#header-nav > ul > li.header-menu-parent-li.active > ul > li.navmenuflyin {
    animation: navmenuflyin 0.25s ease-out;
    opacity: 100% ;
  }

}

@media only screen and (min-width: 1200px) {
  div.content-wrapper {
    max-width: 1170px;
  }
}


div.game-tiles-container > a {
    margin: 1em;
}

h1#games-title {
    color: #FFFFFF;
    padding: 0.5em 0 0 0.3em;
    margin: auto;
    font-size: 3em;
}

div.game-tiles-container img {
  transition: transform .1s;
  border: solid 1px rgba(0, 53, 79, 0);
}

div.game-tiles-container img:hover {
  filter: brightness(1.5);
  border: solid 1px rgba(0, 53, 79, .5);
  transform: scale(1.05);
}

html body section * {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  font-size: 1rem;
  padding: 0em;
  margin: 0em;
  font-family: monospace;
}

div.overlay-background {
  -moz-transition: all .05s ease-in;
  -o-transition: all .05s ease-in;
  -webkit-transition: all .05s ease-in;
  transition: all .05s ease-in;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  display: none;
}

div.overlay-background.active {
  background : rgba(12, 12, 12, 0.50);
  display: block;
}

body > * {
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 0em;
  background: white;
  display: block;
  vertical-align: middle;
  border-bottom: solid 0.1em #333333;
  position: relative;
  z-index: 99;
}

header > * {
    display: inline-block;
    vertical-align: middle;
}




header > div#header-logo-container > a {
  width: 100%;
  display: block;
}

header > a#header-hamburger-menu {
  visibility: hidden;
}

section {
    font-size: 0;
}

section > * {
  font-size: 1rem;
}

section > div {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

section > div.promotion-steam-slider {
  width: 40%;
}

section > div.promotion-steam-description {
  width: 60%;
}

section > div.promotion-steam-description > h2 {
  padding-left: 1em;
  font-size: 1.2em;
}

section.main-content-section > div > h1 {
    font-size: 2em;
    padding-bottom: 1em;
}

section.main-content-section {
    width: 100%;
    text-align: center;
}

section.main-content-section.blue {
  background: #002F67;
}

section.main-content-section.dark {
    background: #181818;
}

section.main-content-section div.main-inner-content {
  text-align: left;
  color: #FFFFFF;
  max-width: 1200px;
  width: 1200px;
  padding: 0 0 1em 0;
}

section.main-content-section div.main-inner-content p {
    font-size: 0.9em;
    font-weight: 100;
    line-height: 1.5em;
}

section#section-breakout-promotion {
  background: #E5E5E5;
}

.steam-button {
  width: 100px;
}

.allegro5-logo {
  width: 100px;
}

.cplusplus-logo {
  width: 100px;
}

/**
  Default Page Styling
**/

/*
section#section-main-page-promotion img {
  width: 100%;
  height: 500px;
}

section#section-main-page-promotion a {
  background: rgb(0,118,190);
  padding: 0.8em 2.25em;
  color: white;
  text-decoration: none;
  border: solid 1px white;
  position: relative;
  top: -100px;
  left: 100px;
  margin-right: 1em;
  font-size: 1.25rem;
}
*/

.img-thumbnail {
  background-color: rgba(0,0,0,0) !important;
}

div#games-container {
    background: url("../imgs/HellstenGames_Background.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 30em;
}


img.game-tile-image {
    width: 180px;
    height: 250px;
}


section#section-main-page-games h1 {
  font-size: 2.5rem;
  width: 100%;
  color: #FFFFFF;
  margin-left: 0.8em;
  margin-top: 0.25em;
  margin-bottom: 0;
  margin-right: 0;
}

div#main-page-games-items {
    font-size: 0;
    width: 100%;
    height: 325px;
}

div#main-page-games-items div.games-item-container {
  font-size: 1rem;
  display: inline-block;
   padding: 1em;
   margin: 1em;
   vertical-align: middle;
   height: 300px;
   width: 200px;
   -moz-transition: all .2s ease-in;
   -o-transition: all .2s ease-in;
   -webkit-transition: all .2s ease-in;
   transition: all .2s ease-in;
}

div#main-page-games-items div.games-item-container:hover {
  padding: 0em;
  margin: 1em 1.47em;
  height: 280px;
  width: 185px;
}

div#main-page-games-items div.games-item-container:hover img {
  filter: brightness(150%);
}

div#main-page-games-items a.games-item {
  font-size: 1rem;
  display: block;
  width: 100%;
  height: 100%;
  border: solid 1px #333333;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

div#main-page-games-items a.games-item:hover {
  border: solid 1px rgb(24,94,140);
}

div#main-page-games-items a.games-item img {
    width: 100%;
    height: 100%;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

/** ---------------------
  Common Header CSS
**/

header > nav#header-nav > ul {
  margin: 0em;
  padding: 0em;
  font-size: 0em;
}


header > nav#header-nav > ul > li > ul {
  display: none;
  border-top: solid 1px #333333;
  border-bottom: solid 1px #333333;
}



@keyframes navmenuflyin {
 0%   {
   transform: translateY(-20%);
   opacity: 0%;
 }
 50% {
   transform: translateY(-10%);
   opacity: 10%;
 }
 100% {
   transform: translateY(0%);
   opacity: 100% ;
 }
}

header > nav#header-nav > ul > li.header-menu-parent-li.active > ul > li {

  background: none;
  opacity: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  width: 175px;

}

header > nav#header-nav > ul > li.header-menu-parent-li.active > ul > li.active {
  opacity: 100%;
}

header > nav#header-nav > ul > li.header-menu-parent-li.active > ul > li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -1em;
  width: 100%;
}
header > nav#header-nav > ul > li.header-menu-parent-li.active > ul > li span {
    font-size: 0.8em;
    color: #CCCCCC;
    display: block;
    width: 100%;
    text-align: center;
    position: relative;

    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

header > nav#header-nav > ul > li.header-menu-parent-li.active > ul > li.new > a::before {
  content: "New";
  color: #FFFFFF;
  background: red;
  font-size: 0.8em;
  padding: 0 0.6em 0 0.6em;
  border: solid 2px #FFFFFF;
  transform: rotate(-30deg);
  display: inline-block;
  position: relative;
  border-radius: 0.5em;
  pointer-events: none;
  z-index: 99;
  top: 1.1em;
  left: -3em;
}

header > nav#header-nav > ul > li.header-menu-parent-li.active > ul > li.in-development > a::before {
  content: "In Development";
  color: #000000;
  background: yellow;
  font-size: 0.8em;
  width: 115px;
  padding: 0 0.8em 0 0.8em;
  border: solid 2px #FFFFFF;
  transform: rotate(-30deg);
  display: inline-block;
  position: relative;
  border-radius: 0.5em;
  pointer-events: none;
  z-index: 99;
  top: 4.3em;
  left: 0em;
}

header > nav#header-nav > ul > li.header-menu-parent-li.active > ul > li img {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 0.5em;
  border: solid 2px #FFFFFF;
  display: block;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

header > nav#header-nav > ul > li.header-menu-parent-li:active > ul > li a:hover img,
header > nav#header-nav > ul > li.header-menu-parent-li.active > ul > li a:hover img {
  filter: brightness(150%);
}

header > nav#header-nav > ul > li.header-menu-parent-li:active > ul > li a:hover span,
header > nav#header-nav > ul > li.header-menu-parent-li.active > ul > li a:hover span {
  color: #FFFFFF;
}

header > nav#header-nav > ul > li.header-menu-parent-li i {
  position: relative;
}

.primary-link .arrow {
  border: solid #454545;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -moz-transition: border-color .2s ease-in;
  -o-transition: border-color .2s ease-in;
  -webkit-transition: border-color .2s ease-in;
  transition: border-color .2s ease-in;
}

.primary-link:hover .arrow {
  border-color: #000000;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: -5px;
  right: -5px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  top: -2.5px;
  right: -5px;
}

/** ---------------------
  Common Footer CSS
**/
footer {
  background: white;
  text-align: center;
  padding: 1em 0;
}

footer a.logo {
  width: 250px;
  display: block;
  margin: auto;
  padding-bottom: 1em;
}

footer a.logo img {
  width: 100%;
}

footer a:hover {
    text-decoration: none;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline-block;
}

footer nav ul li:not(:first-child)::before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 1px;
  background-color: rgba(0,0,0,0.3);
  margin: 0 15px;
  pointer-events: none;
}

footer nav ul li:hover a {
  color: #000000;
}

footer nav a {
  font-size: 0.9em;
  color: black;
  color: #454545;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  font-weight: bold;
}

footer div#footer-trademark {
  margin-top: 3em;
  font-size: 0.7em;
}

footer div#footer-certificates-ratings img {
    width: 83px;
}

/*
@media not screen and (hover: none) and (pointer: coarse) {

  div#mobile-banner {
      display: none;
  }

  nav#mobile-nav {
    display: none;
  }

  a#header-hamburger-menu {
    display: none;
  }

}
*/

nav#footer-menu {

}

nav#footer-menu > ul {
  display: flex;
  justify-content: center;
  margin: auto;
}

nav#footer-menu > ul > li {

}

nav#footer-menu {
  font-size: 1.25em;
}

/** Responsive Styling **/

/*
@media (max-width: 1200px) {

  header > a#header-hamburger-menu {
    visibility: hidden;
  }

  section#section-main-page-games {
    padding: 1rem 8rem;
  }
}

@media (max-width: 992px) {

  header > a#header-hamburger-menu {
    visibility: hidden;
  }

  section#section-main-page-games {
    padding: 1rem 3rem;
  }
  div#main-page-games-items {
      height: auto;
  }
}
*/

/*
@media (max-width: 768px) {


  header > nav#header-nav {
    display: none;
  }

  header > a#header-hamburger-menu {
    visibility: visible;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    text-decoration: none;
    color: #121212;
  }

  header > nav#mobile-nav.flyout {
      animation: mobilenavflyout 0.1s ease-in;
  }

  header > nav#mobile-nav.flyin {
      animation: mobilenavflyin 0.1s ease-in;
      visibility: visible;
      transform: translateX(0);
  }


    header > nav#header-nav.hamburger > ul > li > a {
      color: #FFFFFF;
    }

  header > a#header-hamburger-menu i {
      width: 100%;
      height: 100%;
      text-align: center;
  }

  header > a#header-hamburger-menu .fa-bars:before {
      position: relative;
      display: block;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }

  section#section-main-page-games {
    padding: 1rem 0rem;
  }
  div#main-page-games-items {
      height: auto;
  }
  div#main-page-games-items div.games-item-container {
     padding: 0.25em;
     margin: 0.25em;
  }
}

@media (max-width: 576px) {

  header > nav#mobile-nav.flyout {
      animation: mobilenavflyout 0.1s ease-in;
  }

  header > nav#mobile-nav.flyin {
      animation: mobilenavflyin 0.1s ease-in;
      visibility: visible;
      transform: translateX(0);
  }

  header > nav#header-nav {
    display: none;
  }

  section#section-main-page-games {
    padding: 1rem 6%;
  }
  div#main-page-games-items {
    text-align: left;
  }
  div#main-page-games-items div.games-item-container {
     padding: 0.25em;
     margin: 0.25em;
  }
}
*/


@media only screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 1) {
  div#mobile-nav-header {
    display: none;
  }
}

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1)  {

  header {
    height: 60px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  nav#header-nav {
    height: 100%;
  }

  div#mobile-nav-header {
    height: 100%;
    display: none;
  }

  a#mobile-nav-close {
      display: none;
  }

  nav#header-nav ul {
    display: none;
  }

  header > a#header-hamburger-menu i {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  div#header-logo-container {
    height: 100%;
  }

  div#header-logo-container * {
    height: 100%;
  }

  header > a#header-hamburger-menu {
    visibility: visible;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    text-decoration: none;
    color: #121212;
    padding: 0 1em;
  }

  header > a#header-hamburger-menu i {
      width: 100%;
      height: 100%;
      text-align: center;
  }

  header > a#header-hamburger-menu .fa-bars:before {
      position: relative;
      display: block;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }

}

@media only screen and (hover: none) and (pointer: coarse) and (-webkit-min-device-pixel-ratio: 1) {
     header {
       height: 87px;
       display: flex !important;
       justify-content: center;
       align-items: center;
     }
}

@media only screen and (hover: none) and (pointer: coarse) and (-webkit-min-device-pixel-ratio: 1) ,
       only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {

  html {
    position: fixed;
    height: 100%;
    width: 100%;
  }

  @keyframes mobilenavflyin {
   0%   {
     transform: translateX(-825px);
   }
   100% {
     transform: translateX(0);
   }
  }

  @keyframes mobilenavflyout {
   0%   {
     transform: translateX(0);
   }
   100% {
     transform: translateX(-825px);
   }
  }

  header > div#mobile-banner {
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  header > div#mobile-banner a.logo {
      height: 100%;
      display: inline-block;
      margin: auto;
  }

  header > div#mobile-banner a.logo img {
    height: 100%;
  }

  header > nav.mobile-nav  {
      width: 825px;
      position: absolute;
      left: 0;
      top: 0;
      background: #151A23;
      z-index: 101;
      color: #FFFFFF;
      transform: translateX(-825px);
  }

  header > nav.mobile-nav > div.mobile-nav-header {
      display: block;
      background: #FFFFFF;
      height: 14em;
      position: relative;
  }

  header > nav.mobile-nav > div.mobile-nav-header > a.mobile-nav-close {
    position: absolute;
    top: 0;
    left: 0;
  }

  header > nav.mobile-nav div.mobile-nav-header a.logo {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
  }

  header > nav.mobile-nav div.mobile-nav-header a.logo img {
    width: 55%;
    height: 100%;
    margin-left: 1.75em;
  }

  header > nav.mobile-nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  header > nav.mobile-nav > ul > li.mobile-nav-primary-btn:first-child > a {
    border-top: solid 1px rgba(225, 225, 225, 0.2);
  }



  header > nav.mobile-nav > ul > li.mobile-nav-primary-btn.active > a {
    border-left: solid 0.3em #00AEFF;
  }

  header > nav.mobile-nav > ul > li.mobile-nav-primary-btn.active > a {
    color: #FFFFFF;
  }

  header > nav.mobile-nav > ul > li.mobile-nav-primary-btn .arrow {
      border: solid #AAAAAA;
      padding: 0.25em;
      border-width: 0 5px 5px 0;
  }

  header > nav.mobile-nav > ul > li.mobile-nav-primary-btn .down {
      margin-left: 0.4em;
      margin-bottom: 0.2em;
  }

  header > nav.mobile-nav > ul > li.mobile-nav-primary-btn .up {
      border: solid #FFFFFF;
      padding: 0.25em;
      border-width: 0 5px 5px 0;
      margin-left: 0.4em;
      margin-bottom: -0.1em;
  }

  header > nav.mobile-nav > ul > li:nth-child(4) {
      margin-top: 3em;
  }

  header > nav.mobile-nav > ul > li.mobile-nav-secondary-btn > a {
    text-decoration: none;
    font-size: 2.75em;
    padding: 0.8em 1.25em;
    display: block;
    color: #AAAAAA;
    text-transform: capitalize;
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
  }

  header > nav.mobile-nav > ul > li.mobile-nav-primary-btn > ul {
      background: #0F1218;
      height: 0;
      overflow: hidden;
  }

  header > nav.mobile-nav > ul > li.mobile-nav-primary-btn > a {

    -moz-transition: color 0.5s ease-in;
    -o-transition: color 0.5s ease-in;
    -webkit-transition: color 0.5s ease-in;
    transition: color 0.5s ease-in;
    -moz-transition: border-color 0.2s ease-in;
    -o-transition: border-color 0.2s ease-in;
    -webkit-transition: border-color 0.2s ease-in;
    transition: border-color 0.2s ease-in;

    text-decoration: none;
    padding: 0.82em 1.25em;
    display: block;
    color: #AAAAAA;
    line-height: 1em;
    font-size: 3em;
    border-bottom: solid 1px rgba(225, 225, 225, 0.2);
    text-transform: uppercase;
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    border-left: solid 0.3em #151A23;
  }

  header > nav.mobile-nav > ul > li.mobile-nav-primary-btn:not(.active) .mobile-nav-primary-btn-li-icon {
    visibility: hidden;
  }

  .mobile-nav-primary-btn-li-icon {
      width: 48px;
      height: 48px;
      position: absolute;
      left: 3.5em;
      top: 2.1em;
  }

  header > nav.mobile-nav > ul > li.mobile-nav-primary-btn > ul > li {
      position: relative;
  }

  header > nav.mobile-nav > ul > li.mobile-nav-primary-btn > ul > li > a {
    border-left: solid 0.3em #0D2230;
    padding: 0.75em 2.5em;
    display: block;
    color: #AAAAAA;
    font-size: 2.75em;
    text-decoration: none;
  }

  header > nav.mobile-nav > ul > li.mobile-nav-primary-btn:not(.active) > ul {
    height: 0;
  }

  header > nav.mobile-nav > div.mobile-nav-header > a.mobile-nav-close {
    text-decoration: none;
    padding: 1em;
    display: inline-block;
    color: #CCCCCC;
    border-bottom: solid 1px rgba(225, 225, 225, 0.08);
    text-transform: uppercase;
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
  }



  header > nav#header-nav {
    display: none;
  }

  header > nav.mobile-nav.flyout {
      animation: mobilenavflyout 0.1s ease-in;
  }

  header > nav.mobile-nav.flyin {
      animation: mobilenavflyin 0.1s ease-in;
      visibility: visible;
      transform: translateX(0);
  }

      header > nav#header-nav.hamburger > ul > li > a {
        color: #FFFFFF;
      }

  /* END OF HAMBURGER STYLING */

    section#section-main-page-games {
      padding: 1rem 0rem;
    }
    div#main-page-games-items {
        height: auto;
    }
    div#main-page-games-items div.games-item-container {
       padding: 0.25em;
       margin: 0.25em;
    }
    nav#footer-menu {
      font-size: 1.25em;
    }
  }

  @media (max-width: 576px) {

    header > nav.mobile-nav.flyout {
        animation: mobilenavflyout 0.1s ease-in;
    }

    header > nav.mobile-nav.flyin {
        animation: mobilenavflyin 0.1s ease-in;
        visibility: visible;
        transform: translateX(0);
    }

    header > nav#header-nav {
      display: none;
    }

    section#section-main-page-games {
      padding: 1rem 6%;
    }
    div#main-page-games-items {
      text-align: left;
    }
    div#main-page-games-items div.games-item-container {
       padding: 0.25em;
       margin: 0.25em;
    }
    nav#footer-menu {
      font-size: 1.25em;
    }
}
